<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  {% if owner %}
  <h1>Hey {{ name }}! Here's your album</h1>
  {% else %}
  <h1>Hey {{ name }}! Here's their album</h1>
  {% endif %}
{% endif %}

{% if picsinalbum %}
{% if owner %}
<h2>Here are photos in your album</h2>
{% else %}
<h2>Here are the photos in their album</h2>
{% endif %}
    <ul>
    {% for photo in picsinalbum %}
        <li>{{photo[2]}}<br>
        {% if owner and edit %}
        <form action="{{ url_for('delete_photo', photo_id = photo[1]) }}" method=post>
          <input type = submit value = "Delete" />
        </form>
        {% if not defalbum %}
        <form action="{{ url_for('remove_photo', photo_id = photo[1]) }}" method=post>
            <input type = submit value = "Remove from album" />
        </form>
        {% endif %}
        {% endif %}
        {%if owner %}
        <a href = "{{ url_for('tag_search', tag_name = tag[0], owns = owner) }}"  method=post></a>
        <a href = "{{ url_for('viewpost', photo_id = photo[1]) }}" method=post>
          <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
        </a></li>
        {% else %}
        <a href = "{{ url_for('tag_search', tag_name = tag[0], owns = ) }}"></a>
        <a href = "{{ url_for('viewuserpost', photo_id = photo[1]) }}">
          <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
        </a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}



{% if owner and edit %}
{% if photos %}
<h2>Here are photos not in your album</h2>
    <ul>
    {% for photo in photos %}
        <li>{{photo[2]}}<br>
          <a href = "{{ url_for('viewuserpost', photo_id = photo[1]) }}">
          <input type = submit value = "Delete" />
        </form>
        <form action="{{ url_for('add_photoalbum', photo_id = photo[1]) }}" method=post>
            <input type = submit value = "Add to album" />
        </form>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/><br>
      
      </li>

    {% endfor %}
    </ul>
{% endif %}
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}


<ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/create'>Create an album</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>