<!doctype html>


{% if comments %}
<h2>Here are the retrieved comments and the corresponding users</h2>
    <ul>
    {% for comment in comments %}
      {{comment}}
    {% endfor %}
    </ul>
{% endif %}

{% if leaderboard %}
<h2>Here are the top contributing users and their scores!</h2>
    <ul>
    {% for spot in leaderboard %}
      <ul>
        {{spot}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if top_tags %}
<h2>Here are the most widely used tags by users!</h2>
    <ul>
    {% for tag in top_tags %}
      <ul>
        {{tag[0]}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if allt and currview == myt2%}
  <h2>Here all your photos with this tag</h2>
    <ul>
    {% for photo in myt %}
      <ul>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
      </ul>
    {% endfor %}
    </ul>
{% endif %}





{% if flist %}
<h2>Here are your friends!</h2>
    <ul>
    {% for spot in flist %}
      <ul>
        {{spot[0]}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}


{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/create'>Create an album</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>