<!doctype html>
{% if comments %}
<h2>Here are the retrieved comments and the corresponding users</h2>
    <ul>
    {% for comment in comments %}
      {{comment}}
    {% endfor %}
    </ul>
{% endif %}

{% if leaderboard %}
<h2>Here are the top contributing users and their scores!</h2>
    <ul>
    {% for spot in leaderboard %}
      <ul>
        {{spot}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if top_tags %}
<h2>Here are the most widely used tags by users!</h2>
    <ul>
    {% for tag in top_tags %}
      <ul>
        {{tag[0]}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if pyml %}
    <ul>
      {% for photo in pyml %}
        <ul>
          {{photo[0]}}
          <img src='data:image/jpg;base64, {{ base64.b64encode(photo[1]).decode("ascii") }}'/>
        </ul>
      {% endfor %}
    </ul>
{% endif %} 



{% if photosearch %}
<h2>Here are all the photos that have all the tags you requested</h2>
    <ul>
    {% for photo in photosearch %}
    {{photo[1]}}
      <ul>
        <a href = "{{ url_for('viewuserpost', photo_id = photo[1]) }}">
          <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
        </a>
      </ul>
    {% endfor %}
    </ul>
{% endif %}


{% if currview == 1 %}
<form action="{{ url_for('tag_searchAll', tag_name = tname, owns = owner, currview = 2) }}" method=post>
  <input type = submit value = "Show sitewide photos" />
</form>
<h2>Here are all your photos that have this tag!</h2>
    <ul>
    {% for photo in photos %}
      <ul>
        <a href = "{{ url_for('viewpost', photo_id = photo[1]) }}">
          <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
        </a>
      </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if currview == 2 %}
<form action="{{ url_for('tag_search', tag_name = tname, owns = owner, currview = 1) }}" method=post>
  <input type = submit value = "Show your photos" />
</form>
<h2>Here are all sitewide photos that have this tag!</h2>
    <ul>
    {% for photo in photos %}
      <ul>
          {{photo[1]}}
          <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
      </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if ulikes %}
<h2>Here are the users who have liked this post!</h2>
    <ul>
    {% for spot in ulikes %}
      <ul>
        {{spot[0]}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}



{% if flist %}
<h2>Here are your friends!</h2>
    <ul>
    {% for spot in flist %}
      <ul>
        {{spot[0]}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if mlist %}
<h2>Here are your recommended friends!</h2>
    <ul>
    {% for spot in mlist %}
      <ul>
        {{spot[0]}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}


{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/create'>Create an album</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>