<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
{% if owner %}
<h2>Here is your post and its comments</h2>
{% else %}
<h2>Here is their post and its comments</h2>
{% endif %}
    <ul>
    {% for photo in photos %}
      <li>{{photo[2]}}<br>
        {% if owner %}
        <form action="{{ url_for('delete_photo', photo_id = photo[1]) }}" method=post>
          <input type = submit value = "Delete" />
        </form>
        {% endif %}
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
        </a>
      </li>
    {% endfor %}
    </ul>
{% endif %}

{% if likes %}
    Number of likes: {{likes[0]}}
{% endif %}

{% if comments %}
    <ul>
    {% for comment in comments %}
      <ul>{{comment[0]}}<br>
        {{comment[1], comment[2]}}
      </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if photos %}
{% if owner == False %}
{% for photo in photos %}
  <h3>Write a comment</h3>
  <form action="{{ url_for('addcomment', photo_id = photo[1]) }}" method=post>
    <input type="text" name="comment" required='true' /><br />
    <input type="submit" value="Enter Comment"/>
  </form>
{% endfor %}
{% endif %}
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/create'>Create an album</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>
